<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Events list</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/list-styles.css">
</head>
<body>
<div class="d-flex justify-content-center" style="background-color: black">
    <img src="/images/event-marketing.jpg" alt="crowd on concert" style="width: 60%;height: 500px; position: center;">
</div>
<div style="text-align: center;margin-bottom: 50px">
<h2>
    <a class="font-change" style="color: white" th:href="@{/start}">Events</a>
</h2>
</div>

<form th:action="@{/events}" method="get" >
    <div class="d-flex justify-content-around font-change" style="margin-bottom: 20px">
        <label for="city-text">Choose your city:</label>
        <input type="text" th:name="city" id="city-text">
        <label for="date-start">Starting date:</label>
        <input type="date" th:name="startDate" id="date-start">
        <label for="date-end">End date:</label>
        <input type="date" th:name="endDate" id="date-end">
         <button class="btn btn-primary" type="submit">search</button>
    </div>
</form>
<table class="table table-borderer table-striped table-dark font-change" id="event-table">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">
        <td th:text="${event.name}"/>
        <td th:text="${event.city}"/>
        <td th:text="${event.localDate}"/>
    </tr>
    </tbody>
</table>

<div style="text-align: center" th:if="${events}">
<nav>
<ul class="pagination justify-content-center" th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}">

    <li class="page-item" th:if="${currentPage > 0}">
        <a class="page-link" th:href="@{${urlBuilder.replaceQueryParam('page',currentPage-1).build().toUriString()}}">Prev</a>
    </li>

    <li class="page-item" th:if="${currentPage > 1}">
        <a class="page-link" th:href="@{${urlBuilder.replaceQueryParam('page',currentPage-2).build().toUriString()}}">[[${currentPage-1}]]</a>
    </li>

    <li class="page-item" th:if="${currentPage > 0}">
        <a class="page-link" th:href="@{${urlBuilder.replaceQueryParam('page',currentPage-1).build().toUriString()}}">[[${currentPage}]]</a>
    </li>

    <li class="page-item active">
        <a class="page-link" th:href="@{${urlBuilder.replaceQueryParam('page',currentPage).build().toUriString()}}">[[${currentPage+1}]]
            <span class="sr-only">

            </span>
        </a>
    </li>

    <li class="page-item" th:if="${currentPage}<${totalPages-1}">
        <a class="page-link" th:href="@{${urlBuilder.replaceQueryParam('page',currentPage+1).build().toUriString()}}">[[${currentPage+2}]]</a>
    </li>

    <li class="page-item" th:if="${currentPage}<${totalPages-2}">
        <a class="page-link" th:href="@{${urlBuilder.replaceQueryParam('page',currentPage+2).build().toUriString()}}">[[${currentPage+3}]]</a>
    </li>

    <li class="page-item" th:if="${currentPage}<${totalPages-1}">
        <a class="page-link" th:href="@{${urlBuilder.replaceQueryParam('page',currentPage+1).build().toUriString()}}">Next</a>
    </li>

</ul>
</nav>
</div>

</body>
</html>