<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Events list</title>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.css"/>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>

<body>
<header></header>
<h2>Events</h2>


<label >Choose your city</label>
<form th:action="@{/events}">
    <input type="text" th:name="city">
    <button class="btn btn-primary" type="submit">search</button>
</form>
<table class="table table-borderer table-striped striped" id="event-table">
    <thead>
    <tr>

        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Date</th>
        <th scope="col">Timezone</th>

    </tr>
    </thead>
    <tbody>
    <tr th:each="event : ${events}">

        <td th:text="${event.name}"/>
        <td th:text="${event.city}"/>
        <td th:text="${event.localDate}"/>
        <td th:text="${event.timezone}"/>

    </tr>
    </tbody>
</table>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.12.1/datatables.min.js"></script>

<div style="text-align: center;">
<nav aria-label="Page navigation example" >
<ul class="pagination justify-content-center">
    <li class="page-item" th:if="${currentPage > 0}"><a class="page-link" th:href="@{'/events?city='+${city}+'&page=' + ${currentPage-1}}">Prev</a></li>
    <li class="page-item" th:if="${currentPage > 1}"><a class="page-link" th:href="@{'/events?city='+${city}+'&page=' + ${currentPage-2}}">[[${currentPage-1}]]</a></li>
    <li class="page-item" th:if="${currentPage > 1}"><a class="page-link" th:href="@{'/events?city='+${city}+'&page=' + ${currentPage-1}}">[[${currentPage}]]</a></li>
    <li class="page-item active"><a class="page-link" th:href="@{'/events?city='+${city}+'&page=' + ${currentPage}}">[[${currentPage+1}]]<span clas="sr-only"></span></a></li>
    <li class="page-item" th:if="${currentPage+1}<${totalPages-2}"><a class="page-link" th:href="@{'/events?city='+${city}+'&page=' + ${currentPage+1}}">[[${currentPage+2}]]</a></li>
    <li class="page-item" th:if="${currentPage+1}<${totalPages-2}"><a class="page-link" th:href="@{'/events?city='+${city}+'&page=' + ${currentPage+2}}">[[${currentPage+3}]]</a></li>
    <li class="page-item" th:if="${currentPage+1}<${totalPages-1}"><a class="page-link" th:href="@{'/events?city='+${city}+'&page=' + ${currentPage+1}}">Next</a></li>
</ul>
</nav>
</div>


</body>
</html>