<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create event</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
</head>
<body>
<h2>Add event</h2>
<form method="post" th:action="@{/event/save}" th:object="${emptyEvent}">

    Name:
    <input type="text" th:field="*{name}"/>

    City:
    <input type="text" th:field="*{city}"/>

    <button type="submit" class="btn btn-primary">
        Send event
    </button>

</form>

</body>
</html>