<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Registration Page</title>
    <link rel="stylesheet" type="text/css" href="/css/registration-styles.css">
</head>
<body class="font-change">
<form  th:action="@{/registration}" th:object="${newUser}" method="post">
    <div>
        Name:
        <input type="text" th:field="*{name}">
    </div>
    <div>
        Password:
        <input type="password" th:field="*{password}">
    </div>
    <div>
        Confirm Password:
        <input type="password" th:field="*{matchingPassword}">
    </div>
    <div>
        <button type="submit">Register</button>
    </div>

</form>
</body>
</html>
